* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    color: #fff;
    height: 90px;

    .logo {
        text-decoration: none;
        .logo-text {
            margin-top: -9px;
            text-transform: uppercase;
            color: #fff;
        }

        .logo-img {
            margin-top: 5px;
            width: 70px;
            margin-left: 43px;
        }
    }


    ul {
        list-style: none;
        text-transform: uppercase;
        padding-top: 30px;

        li {
            display: inline-block;
            font-size: 25px;
            margin-left: 20px;

            a {
                color: #787374;
                text-decoration: none;
            }
        }

        float: right;
    }

}