@model IEnumerable<RentalSystemUI.DTOs.Korisnik.KorisnikDTO>

<h2>Lista korisnika</h2>

<a class="btn btn-primary mb-3" asp-controller="Korisnik" asp-action="Dodaj">Dodaj korisnika</a>

@if (Model != null && Model.Any())
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var korisnik in Model)
            {
                <div class="col">
                    <a asp-controller="Korisnik"
                       asp-action="PrikaziKorisnika"
                       asp-route-jmbg="@korisnik.JMBG"
                       style="text-decoration: none; color: inherit;">
                        <div class="card shadow-sm">
                            <img src="..." class="card-img-top" alt="Korisnik slika" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title text-center">@korisnik.ImePrezime</h5>
                                <p class="card-text"><strong>JMBG:</strong> @korisnik.JMBG</p>
                                <p class="card-text"><strong>Broj vozačke:</strong> @korisnik.BrVozacke</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Nema korisnika za prikaz.</p>
}
