@* @{
    ViewData["Title"] = "RentalSystem";
} *@

<div class="text-center">
    <h1>Dobrodošli</h1>
    <p>Lorem sint harum, rem reprehenderit ad iusto, laborum minus voluptatibus deleniti aliquam suscipit vitae!</p>
@*     <video preload="auto" muted="true" autoplay loop playsinline src="~/images/auto video.mp4"></video>*@
 
</div>
